@import 'variables';
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

.container-fluid {
    position: relative;
}

.quickview-wrapper {
    .nav-tabs {
        padding: 0 38px;
    }
}

legend {
    line-height: 35px;
    border-bottom: 1px solid #e5e5e5;
}

.register-container {
    @media (min-width: $screen-sm-min) {
        height: auto!important;
    }
}